<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
       dd
    </title>
</head>
    
<body> 

      <% for(let i=0; i<rows.length; i++) {%>
          <div>
             <span><%=rows[i].ID%></span><span><%=rows[i].name%></span>
             <span><%=rows[i].age%></span>
          </div>
      <% } %>  
</body>
</html>