<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

   

</head>

<body>
    <form action="/register" method="get" name="register" id="form_info">

        <button type="button"  onclick="location.href='http://localhost:8000/login'">로그인</button>
        </div>
        <div class="register-btn">
            <button type="button" >회원가입</button>
        </div>
    </form>


    
    

       
 

</body>

</html>